
/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


/* CUSTOM FONTS */
.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


  /* custom styling for specific icons */
  .fa-brands {
    color: #fff;
  }

.fa-brands:hover {
    color: #ccc;
}


/* GLOBAL STYLES */
html, body {
    height: 100%; /* Set height to 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items at the start */
    margin-top: 50px; /* Offset from the top */
}



body {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 125%;
    background-image: url('../images/bg.webp'); /* Relative path */
    background-size: cover;
    background-position: center;
    background-color: #7CA28A; /* Fallback background color */
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */
.logo {
    text-align: center;
}


.logo img {
    max-width: 25%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
    padding-top: 8%;
    padding-bottom: 1%; /* Add padding at the bottom */
}

/* MENU */
nav {
    text-align: center; /* Align menu items to the left */
}

.menu {
    list-style-type: none; /* Removed the list style type */
    margin-bottom: 10px; /* Add margin to create space between menu and icons */
    padding-left: 0; /* Remove default padding */
}

.menu li {
    display: inline-block;
    position: relative; /* Ensure proper positioning of the divider */
    margin-right: 20px; /* Adjust spacing between menu items */
}


.menu li a {
    text-decoration: none;
    color: #fff;
}

.menu li a:hover {
    color: #ccc;
}

/* Add margin to the right of link icons */
.menu li a i {
    margin-right: 10px; /* Adjust as needed */
}

/* Social media icon links */
nav > a {
    text-decoration: none;
    border: none;
    display: inline-block;
    margin-left: 10px;
}

nav > a img {
    display: block;
    border: none;
}


/* BANNER */
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/* About section styles */
.about {
    padding: 50px 0;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Add styles for screens with a maximum width of 768px (tablets and smaller screens) */
    .logo img {
        max-width: 50%;
    }

    .menu li {
        margin-right: 10px;
    }

    .menu li:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    /* Add styles for screens with a maximum width of 480px (mobile devices) */
    .logo img {
        max-width: 70%;
    }

    .menu li {
        margin-right: 5px;
    }
}

.progress-bar {
    width: 70%;
    background-color: #fff;
    overflow: hidden;
    margin: 10px auto; /* Center the progress bar horizontally and add some margin */
}

.progress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #C87270;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.3s ease-in-out;

}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;
    color: white;
}